
<h1><%= @welcome_message %></h1>
<br>
<% if @broj > 3%>
 <!--ako koristimo if, onda ne stavljamo '=' jer nista ne ispisujemo-->
	<h1>Broj je veci od 3</h1>
<% else %>
	<h1>Broj je manji</h1>
<% end %>

/*  nesto
* nesto 2
*/
 <!--This is a comment. Comments are not displayed in the browser-->

 <button class="btn btn-primary">Click me</button>